<div class="factory-visit container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <h1 class="title-1">Wissen Sie Wie Wir Kandahar Sommer- Und Winterschuhe Herstellen?</h1>
      <div class="title-1-border"></div>
      <p class="paragraph">Aus sorgfältiger Handarbeit und über 200 Arbeitsschritten enstehen hochwertige Schuhe, von A-Z in der Schweiz hergestellt. Überzeugen Sie sich selbst!</p>
      <h3 class="title-2">Öffnungszeiten Boutique</h3>
      <p class="paragraph">Mo-Fr 09:00 bis 17:00 Uhr
        (An den Samstagen im November und Dezember von 11:00 bis 16:00 Uhr)</p>
      <h3 class="title-2">Produktionszeit Für Spontane Besichtigungen Bis 5 Personen</h3>
      <p class="paragraph">Mo-Do 09:30 bis 12:00 und 13:00 bis 16:00 Uhr
        Fr 09:30 bis 12:00 Uhr</p>
      <h3 class="title-2">Besichtigungen Ab 6 Personen Mit Terminvereinbarung</h3>
      <p class="paragraph">Bitte senden Sie uns eine Anfrage über das Kontaktformular mit folgenden Informationen:</p>
      <ul class="list">
        <li>Gewünschter Termin</li>
        <li>Anzahl Personen</li>
        <li>Mit oder ohne Führung</li>
      </ul>
      <p class="paragraph">Eine Führung von ca. 2 Stunden (inkl. Apero oder Kaffee und Kuchen) kostet CHF 290 bis 15 Personen, CHF 580 bis 30 Personen und CHF 870 bis 45 Personen.</p>
    </div>

    <div class="col-md-6 col-sm-12 col-12">
      <div class="factory-visit-img">
        <div class="factory-visit-img--top">
          <div class="first-box"></div>
          <div class="second-box"></div>
        </div>
        <div class="factory-visit-img--center">
          <div class="first-box"></div>
          <div class="second-box"></div>
          <div class="third-box"></div>
        </div>
        <div class="factory-visit-img--bottom">
          <div class="first-box"></div>
          <div class="second-box"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include form/get-in-touch.html %}
