<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Follow us</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Instagram</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.nav .flex-column -->
        </div><!-- /.footer-widget -->
      </div><!-- /.col -->

      <div class="col">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Shop</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Classic</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Lauwarm</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Celebrity</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Curling</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.nav .flex-column -->
        </div><!-- /.footer-widget -->
      </div><!-- /.col -->

      <div class="col">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Information</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Geschichte</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Produktion</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Philosophie</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Journal</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Pflegetipps</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.nav .flex-column -->
        </div><!-- /.footer-widget -->
      </div><!-- /.col -->

      <div class="col">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Service</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Fabrikbesuche</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Reparatur</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Garantie</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt</a>
            </li><!-- /.nav-item -->
            <li class="nav-item">
              <a class="nav-link" href="#">Impressum</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.nav .flex-column -->
        </div><!-- /.footer-widget -->
      </div><!-- /.col -->
      <div class="col-sm-4">
        <div class="footer-widget">
          <h4 class="footer-widget-title text-center">News &amp; special offers</h4>
        </div><!-- /.footer-widget -->
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col">
        <div class="copyrights">
          <div class="row">
            <div class="col">
              <img src="/pages/assets/img/kandahar-logo-sm.png" alt="Kandahar">
            </div><!-- /.col -->

            <div class="col">
              <p class="address">Hofackerstrasse 20. <br>3645 Gwatt.</p>
            </div><!-- /.col -->

            <div class="col">
              <p class="copy">Copyright © 1932-2019 Kandahar. <br>All rights reserved.</p>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.copyrights -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.site-footer -->
