<header id="masthead" class="site-header" role="banner">
  <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <div class="site-branding">
    <div class="site-title">
      <a href="#" rel="home">Kandahar</a>
    </div><!-- /.site-title -->
    <p class="site-description">Handmade 1932</p>
  </div><!-- /.site-branding -->
  <nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
    <div class="menu-secondary-navigation-container">
      <ul id="menu-secondary-navigation" class="menu">
        <li id="" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="#">My Account</a>
        </li>
        <li id="" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="#">About this Demo</a>
        </li>
      </ul>
    </div>
  </nav><!-- /.secondary-navigation -->

  <div class="site-search">
    <div class="widget woocommerce widget_product_search">
      <form role="search" method="get" class="woocommerce-product-search" action="">
        <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
        <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products…" value="" name="s">
        <input type="submit" value="Search">
        <input type="hidden" name="post_type" value="product">
      </form>
    </div>
  </div>

  <div class="kandahar-primary-navigation">
    <div class="col-full">
      <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Navigation">
        <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
          <span>Menu</span>
        </button>
        <div class="primary-navigation">
          <ul id="menu-navigation" class="menu nav-menu" aria-expanded="false">
            <li id="" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Blog</a>
            </li>
            <li id="" class="menu-item menu-item-type-post_type menu-item-object-page smm-active menu-item-has-children">
              <a href="#">Shop</a>
              <ul class="sub-menu">
                <li>
                  <div class="smm-mega-menu">
                    <div class="smm-row">
                      <div class="smm-span-2">
                        <aside id="nav_menu-11" class="widget widget_nav_menu">
                          <h3 class="widget-title">Clothing</h3>
                          <div class="menu-mega-menu-1st-container">
                            <ul id="menu-mega-menu-1st" class="menu">
                              <li id="" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat">
                                <a href="#">Blouses</a>
                              </li>
                              <li id="menu-item-7081" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat">
                                <a href="#">Dresses</a>
                              </li>
                            </ul>
                          </div>
                        </aside>
                      </div>
                      <div class="smm-span-2">
                        <aside id="nav_menu-12" class="widget widget_nav_menu">
                          <h3 class="widget-title">Kitchen</h3>
                          <div class="menu-mega-menu-2nd-container">
                            <ul id="menu-mega-menu-2nd" class="menu">
                              <li id="menu-item-7215" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7215">
                                <a href="https://themes.woocommerce.com/storefront/product-category/kitchen/blenders/">Blenders</a>
                              </li>
                              <li id="menu-item-7089" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7089">
                                <a href="https://themes.woocommerce.com/storefront/product-category/kitchen/kettles/">Kettles</a>
                              </li>
                            </ul>
                          </div>
                        </aside>
                      </div>
                      <div class="smm-span-2">
                        <aside id="nav_menu-13" class="widget widget_nav_menu">
                          <h3 class="widget-title">Electronics</h3>
                          <div class="menu-mega-menu-3rd-container">
                            <ul id="menu-mega-menu-3rd" class="menu">
                              <li id="menu-item-7092" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7092">
                                <a href="https://themes.woocommerce.com/storefront/product-category/electronics/cameras/">Cameras</a>
                              </li>
                              <li id="menu-item-7135" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7135">
                                <a href="https://themes.woocommerce.com/storefront/product-category/electronics/radios/">Radios</a>
                              </li>
                            </ul>
                          </div>
                        </aside>
                      </div>
                      <div class="smm-span-2">
                        <aside id="nav_menu-14" class="widget widget_nav_menu">
                          <h3 class="widget-title">Music</h3>
                          <div class="menu-mega-menu-4th-container">
                            <ul id="menu-mega-menu-4th" class="menu">
                              <li id="menu-item-7095" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7095">
                                <a href="https://themes.woocommerce.com/storefront/product-category/music/albums/">Albums</a>
                              </li>
                              <li id="menu-item-7096" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-7096">
                                <a href="https://themes.woocommerce.com/storefront/product-category/music/singles/">Singles</a>
                              </li>
                            </ul>
                          </div>
                        </aside>
                      </div>
                      <div class="smm-span-4 smm-last">
                        <aside id="text-5" class="widget widget_text">
                          <h3 class="widget-title">Mega Menus Extension</h3>
                          <div class="textwidget">
                            <p>If you would like to display a full width menu like you see here this can be achieved by using our Mega Menus extension for Storefront.</p>
                            <p><a href="https://www.woothemes.com/products/storefront-mega-menus/" class="button">Mega Menus →</a></p>
                          </div>
                        </aside>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li id="menu-item-7258" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Single Product Homepage Example</a>
            </li>
            <li id="menu-item-5488" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Pricing Tables</a>
            </li>
            <li id="menu-item-6095" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Reviews</a>
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul>
            <li class="current_page_item"><a href="#">Home</a></li>
            <li class="page_item"><a href="#">About this Demo</a></li>
            <li class="page_item"><a href="#">Blog</a></li>
            <li class="page_item"><a href="#">Cart</a></li>
            <li class="page_item"><a href="#">Checkout</a></li>
            <li class="page_item"><a href="#">My Account</a></li>
            <li class="page_item"><a href="#">Reviews</a></li>
            <li class="page_item page-item-2"><a href="#">Sample Page</a></li>
            <li class="page_item page-item-4"><a href="#">Shop</a></li>
          </ul>
        </div>
      </nav><!-- /.site-navigation -->
      <ul id="site-header-cart" class="site-header-cart menu">
        <li class="">
          <a class="cart-contents" href="https://themes.woocommerce.com/storefront/cart/" title="View your shopping cart">
            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>0.00</span> <span class="count">0 items</span>
          </a>
        </li>
        <li>
          <div class="widget woocommerce widget_shopping_cart">
            <div class="widget_shopping_cart_content">
              <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
