<header id="masthead" class="site-header" role="banner" style="">
    <div class="col-full">
       <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
       <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
       <div class="site-branding">
          <div class="beta site-title"><a href="http://localhost:8888/kandahar/" rel="home">kandahar</a></div>
          <p class="site-description">Just another WordPress site</p>
       </div>
       <div class="site-search">
          <div class="widget woocommerce widget_product_search">
             <form role="search" method="get" class="woocommerce-product-search" action="http://localhost:8888/kandahar/">
                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products…" value="" name="s">
                <button type="submit" value="Search">Search</button>
                <input type="hidden" name="post_type" value="product">
             </form>
          </div>
       </div>
    </div>
    <div class="storefront-primary-navigation">
       <div class="col-full">
          <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Navigation">
             <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false"><span>Menu</span></button>
             <div class="primary-navigation">
                <ul id="menu-menu-1" class="menu nav-menu" aria-expanded="false">
                   <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-59">
                      <a href="http://localhost:8888/kandahar/">Home</a>
                      <ul class="sub-menu">
                         <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="http://localhost:8888/kandahar/example/">example</a></li>
                         <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="http://localhost:8888/kandahar/sample-page/">Sample Page</a></li>
                      </ul>
                   </li>
                   <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-37 current_page_item menu-item-57"><a href="http://localhost:8888/kandahar/collections/">Collections</a></li>
                   <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="http://localhost:8888/kandahar/dealer/">Dealer</a></li>
                   <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="http://localhost:8888/kandahar/journal/">Journal</a></li>
                </ul>
             </div>
             <div class="menu">
                <ul>
                   <li><a href="http://localhost:8888/kandahar/">Home</a></li>
                   <li class="page_item page-item-37 current_page_item"><a href="http://localhost:8888/kandahar/collections/">Collections</a></li>
                   <li class="page_item page-item-39"><a href="http://localhost:8888/kandahar/dealer/">Dealer</a></li>
                   <li class="page_item page-item-55"><a href="http://localhost:8888/kandahar/example/">example</a></li>
                   <li class="page_item page-item-41"><a href="http://localhost:8888/kandahar/journal/">Journal</a></li>
                   <li class="page_item page-item-2"><a href="http://localhost:8888/kandahar/sample-page/">Sample Page</a></li>
                </ul>
             </div>
          </nav>
          <!-- #site-navigation -->
          <ul id="site-header-cart" class="site-header-cart menu">
             <li class="">
                <a class="cart-contents" href="http://localhost:8888/kandahar" title="View your shopping basket">
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>0.00</span> <span class="count">0 items</span>
                </a>
             </li>
             <li>
                <div class="widget woocommerce widget_shopping_cart">
                   <div class="widget_shopping_cart_content">
                      <p class="woocommerce-mini-cart__empty-message">No products in the basket.</p>
                   </div>
                </div>
             </li>
          </ul>
       </div>
    </div>
 </header>
