<div class="philosophie container">
  <div class="row">
    <div class="col-sm-6 col-12">
      <h1 class="philosophie-title">Schuhwerk ist Handwerk</h1>
      <div class="philosophie-title-border"></div>
      <p class="philosophie-paragraph">Diese Aussage steht im Zentrum der Philosophie von Kandahar. Denn Tradition, die Liebe zur manuellen Tätigkeit und die Sorgfalt, die in jedem einzelnen der über zweihundert Arbeitsschritte steckt, bestimmt letztlich die Qualität eines guten Schuhes. Kandahar hat deshalb über Jahrzehnte eine eigene, unverkennbare Design-, Formen- und Materialsprache geschaffen sowie spezielle Fertigungstechniken entwickelt. Eigenschaften, die für eine qualitativ hochstehende Kleinserienfertigung entscheidend sind.</p>
      <p class="philosophie-paragraph">Schuhe von Kandahar erfüllen höchste Ansprüche qualitätsbewusster Konsumentinnen und Konsumenten. Aus feinsten Ledersorten sorgfältig von Hand gefertigt und einzeln nummeriert, zeugt jedes Paar von bester, echter Schweizer Handwerkskunst. Zuverlässigkeit und Qualität sind deshalb in der Schuhmanufaktur oberstes Gebot. Kreativität, Flexibilität und Kundennähe prägen den Alltag von Kandahar.</p>
    </div>

    <div class="col-sm-6 col-12">
      <div class="philosophie-img">
        <div class="philosophie-img--top">
          <div class="first-box"></div>
          <div class="second-box"></div>
        </div>
        <div class="philosophie-img--bottom">
          <div class="first-box"></div>
          <div class="second-box"></div>
        </div>
      </div>
    </div>
  </div>
</div>

