<section class="site-main">
  <div class="woocommerce">
    <ul class="products columns-4">
      <li class="post-109 product type-product status-publish has-post-thumbnail product_cat-uncategorized first instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/alpha/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-category001.jpg" sizes="(max-width: 324px) 100vw, 324px">
          <h2 class="woocommerce-loop-product__title">Classic</h2>
        </a>
      </li>
      <li class="post-108 product type-product status-publish has-post-thumbnail product_cat-uncategorized instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/amara/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-category002.jpg" sizes="(max-width: 324px) 100vw, 324px">
          <h2 class="woocommerce-loop-product__title">Lauwarm</h2>
        </a>
      </li>
      <li class="post-107 product type-product status-publish has-post-thumbnail product_cat-uncategorized instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/matterhorn/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-category003.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" sizes="(max-width: 324px) 100vw, 324px">
          <h2 class="woocommerce-loop-product__title">Celebrity</h2>
        </a>
      </li>
      <li class="post-106 product type-product status-publish has-post-thumbnail product_cat-uncategorized last instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/fabienne/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-category004.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" sizes="(max-width: 324px) 100vw, 324px">
          <h2 class="woocommerce-loop-product__title">Active</h2>
        </a>
      </li>
    </ul>
  </div>
</section>
