<main id="main" class="site-main" role="main">
    <header class="woocommerce-products-header">
      <h1 class="woocommerce-products-header__title page-title">Shop</h1>
      <div class="title-1-border"></div>
    </header>
    <div class="storefront-sorting">
      <div class="woocommerce-notices-wrapper"></div>
      <form class="woocommerce-ordering" method="get">
        <select name="orderby" class="orderby">
          <option value="popularity" selected="selected">Sort by popularity</option>
          <option value="rating">Sort by average rating</option>
          <option value="date">Sort by latest</option>
          <option value="price">Sort by price: low to high</option>
          <option value="price-desc">Sort by price: high to low</option>
        </select>
        <input type="hidden" name="paged" value="1">
      </form>
    </div>
    <ul class="products columns-3">
      <li class="post-109 product type-product status-publish has-post-thumbnail product_cat-uncategorized first instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/alpha/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-alpha.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Alpha</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
      <li class="post-108 product type-product status-publish has-post-thumbnail product_cat-uncategorized instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/amara/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-amara.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Amara</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
      <li class="post-99 product type-product status-publish has-post-thumbnail product_cat-uncategorized last instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/cristina/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-cristina.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Cristina</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
      <li class="post-106 product type-product status-publish has-post-thumbnail product_cat-uncategorized first instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/fabienne/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-fabienne.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Fabienne</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
      <li class="post-107 product type-product status-publish has-post-thumbnail product_cat-uncategorized instock shipping-taxable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/matterhorn/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-matterhorn.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Matterhorn</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
      <li class="post-96 product type-product status-publish has-post-thumbnail product_cat-uncategorized last instock virtual purchasable product-type-simple">
        <a href="http://localhost:8888/kandahar/product/retro/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <img width="324" height="324" src="/pages/assets/img/product-retro.jpg" alt="">
          <h2 class="woocommerce-loop-product__title">Retro</h2>
          <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>120.00</span></span>
        </a>
      </li>
    </ul>
  </main>
