<!-- {% if page.title == "Team" %}<h1>{{page.title}}</h1>{% endif %} -->

<div class="team container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team001.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team002.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team003.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team004.jpg" />
    </div>
    <div class="w-100"></div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team004.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team005.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team006.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team007.jpg" />
    </div>
    <div class="w-100"></div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team008.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team009.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team010.jpg" />
    </div>
    <div class="col-md-3 col-sm-6 col-12 team-member">
      <img src="/pages/assets/img/team011.jpg" />
    </div>
  </div>
</div>

<div class="team container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <div class="card-container">
          <div class="card">
              <div class="front">
                <img src="/pages/assets/img/team001.jpg" />
              </div>
              <div class="back">
                <div class="team-member-info">
                  <div class="team-member-info-header">
                    <span class="team-member-info-title">Manuel von Allmen</span>
                    <span class="team-member-info-text">Executive Owner</span>
                  </div>
                  <div class="team-member-info-footer">
                    <span class="team-member-info-text">mva@kandahar.ch</span>
                    <span class="team-member-info-text">+41 33 334 57 57</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <img src="/pages/assets/img/team002.jpg" />
            </div>
            <div class="back">
              <div class="team-member-info">
                <div class="team-member-info-header">
                  <span class="team-member-info-title">Manuel von Allmen</span>
                  <span class="team-member-info-text">Executive Owner</span>
                </div>
                <div class="team-member-info-footer">
                  <span class="team-member-info-text">mva@kandahar.ch</span>
                  <span class="team-member-info-text">+41 33 334 57 57</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team003.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team004.jpg" />
      </div>
      <div class="w-100"></div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team004.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team005.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team006.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team007.jpg" />
      </div>
      <div class="w-100"></div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team008.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team009.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team010.jpg" />
      </div>
      <div class="col-md-3 col-sm-6 col-12 team-member">
        <img src="/pages/assets/img/team011.jpg" />
      </div>
    </div>
  </div>
