<!-- {% if page.title == "Team" %}<h1>{{page.title}}</h1>{% endif %} -->
<div class="form-container">
  <div class="container">
    <div class="form-header">
      <h1 class="title-1">Die Stärke Liegt in der Gemeinschaft</h1>
      <div class="title-1-border"></div>
      <p class="paragraph paragraph--centered">Seit 1932 steht das traditionelle Familienunternehmen aus dem Berner Oberland für exklusive Qualität, Handarbeit und Swissness. Auch nach 85 Jahren wird jeder der rund 200 Arbeitsschritte der Schuhproduktion in der Manufaktur am Thunersee ausgeführt. Das von Fritz von Allmen gegründete Unternehmen, dass bereits in der 3. Generation geführt wird, ist mit Stolz, die letzte Schuhmanufaktur der Schweiz.</p>
    </div>
  </div>
</div>

<div class="team container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team001.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team002.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team003.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team004.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team005.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team006.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team007.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team008.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team009.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team010.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team011.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="team-member">
        <img src="/pages/assets/img/team012.jpg" alt="Avatar" class="team-member-image" />
        <div class="team-member-info">
          <div class="team-member-info-header">
            <span class="team-member-info-title">Manuel von Allmen</span>
            <span class="team-member-info-text">Executive Owner</span>
          </div>
          <div class="team-member-info-footer">
            <span class="team-member-info-text">mva@kandahar.ch</span>
            <span class="team-member-info-text">+41 33 334 57 57</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

