// Buttons
//
// Custom buttons for the docs.

button,
.btn {
  border-radius: 0;
}

.btn-primary {
  padding: 18px 20px;
  color: #FFF;
  font-family: Karla;
  font-size: 14px;
  font-weight: bold;
  line-height: 0.75;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #101010;
  border-color: #101010;
}

.btn-link {
  padding: 18px 20px;
  color: $text-color;
  font-family: Karla;
  font-size: 14px;
  font-weight: bold;
  line-height: 0.75;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
