//
// Footer
//

.site-footer {
  border-top: 1px solid #E2DDD9;
  background-color: unset;
  color: unset;
  padding: unset;
  padding-top: 60px;

  .footer-widget {
    margin-bottom: 30px;
  }

  .footer-widget-title {
    margin-bottom: 30px;
    color: #101010;
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    line-height: 0.63;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  .nav-link {
    padding: 0 0 1rem 0;
    opacity: 0.8;
    font-family: Karla;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #101010;
  }

  .copyrights {
    padding: 30px 0;
    color: #101010;
    font-family: Karla;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border-top: 1px solid #E2DDD9;
  }

  .address {
    text-align: center;
  }

  .copy {
    text-align: right;
  }

  .nav {
    margin-left: 0;
  }
}
