.form {
  &-container {
    background-color: #f6f4f3;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: 768px) {
      .container {
        max-width: 740px;
      }
    }

    .form-control {
      padding: 16px 14px;
      background-color: #FFF;
      outline: 0;
      border: 0;
      box-shadow: none;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #737373;
    }

    .suscriber {
      .form-control-plaintext {
        box-shadow: none;
        background: #FFF;
        font-family: Karla;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #303030;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
}
