.col-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .col-full {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .col-full {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .col-full {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .col-full {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.storefront-primary-navigation {
  background-color: #b8cce4;
}

.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
  padding-top: 16px;
  padding-bottom: 15px;
  font-family: Karla;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.64;
  letter-spacing: 0.6px;
  color: #101010;
  text-transform: uppercase;
}

.site-header {
  background-color: #e2ddd9;
  padding-top: 0;
  margin-bottom: 0 !important;
  &-cart .cart-contents {
    padding: 16px 0 15px 0;
    font-family: Karla;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.64;
    letter-spacing: 0.6px;
    color: #101010;
    text-transform: uppercase;
    &::after {
      line-height: 0.64;
    }
  }

  .col-full {
    display: flex;
    align-items: center;
  }

  .site-branding {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .site-branding, .site-search {
    margin: 0;
  }

  .widget_product_search form::before {
    left: unset;
    right: 1.15em;
  }

  .woocommerce-product-search {
    margin: 0;
    .search-field {
      padding-left: 12px !important;
      padding-top: 13px !important;
      padding-bottom: 14px !important;
      font-family: Karla;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.64;
      letter-spacing: -0.6px;
      color: #101010 !important;
      background-color: rgb(196, 193, 193);
    }
  }
}
