.philosophie {
  margin-top: 80px;
  margin-bottom: 80px;

  &-img {
    &--top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .first-box {
        width: 170px;
        height: 250px;
        background-image: url(/pages/assets/img/philosophie001.jpg);
        background-position: center top;
        background-repeat: no-repeat;
      }

      .second-box {
        width: 340px;
        height: 250px;
        margin-left: 30px;
        background-image: url(/pages/assets/img/philosophie002.jpg);
        background-position: center top;
        background-repeat: no-repeat;
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;
      .first-box {
        width: 340px;
        height: 250px;
        background-image: url(/pages/assets/img/philosophie003.jpg);
        background-position: center top;
        background-repeat: no-repeat;
      }

      .second-box {
        width: 170px;
        height: 250px;
        margin-left: 30px;
        background-image: url(/pages/assets/img/philosophie004.jpg);
        background-position: center top;
        background-repeat: no-repeat;
      }
    }
  }
}
